/* TABELAS */

table {
	border: 1px solid black;
	table-layout:auto;
	font-size: 11px;
	margin-bottom: 0.2rem;
}

table.minimo {
	width:0px;
}
th {
	text-align: center;
/*	border: 1px solid black; */
	border-width: 0px 1px 1px 0px;
	font-size: 11px;
	font-weight:bold;
}

tr {
/*	border: 1px solid black; */
	font-size: 11px;
}

tr.centralizado > td
{
	text-align: center;
}

tr.borda > td
{
  border-width: 2px;
  border-color: transparent;
}

td {
/*	border: 1px solid black; */
	font-size: 11px;
	border-width: 0px 0px 0px 0px;
}

.centralizado {
	text-align: center;
}
div.centralizado table {
	margin-left: auto; margin-right: auto;
}
.direita {
	text-align: right;
}
.esquerda {
	text-align: left;
}
.vermelho {
	color: red;
	font-weight: bold;
}
.verde {
	color: green;
	font-weight: bold;
}
table.semborda, th, td.semborda {
	border-width: 0px 0px 0px 0px;
}

p, input.loteca{
	font-size: 11px;
}

input[type=submit] {
	padding:6px 12px;
}

td.fundovermelho {
	background-color: red;
}

div.fundopreto {
	background-color: black;
	color: white;
	text-align: center;
	padding-left:2px;
	padding-right:2px;
}

td.fundoazul {
	background-color: blue;
}
th.b-esq, td.b-esq {
	border-left-width: 1px;
	border-collapse: collapse;
}
th.b-dir, td.b-dir {
	border-right-width: 1px;
	border-collapse: collapse;
}
td.borda {
	border-width: 2px 2px 2px 2px;
	border-color: transparent;
}
form {
 margin-top:0px;
 margin-bottom:0px;
}
